

    <div class="d-flex justify-content-center mt-3 ">
        
        <div class="row box-login p-5">
            <div class="col">
                <h1 class="text-center mb-3">Bienvenido</h1>
                <form   autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()" >
                    <!-- Campo de Numero de documento -->
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Número de documento</label>
                        <div class="col-sm-9">
                            <input 
                                type="text" 
                                class="form-control" 
                                formControlName="dniRuc"
                                placeholder="DNI o RUC"
                            >
                            <span class="form-text text-danger"
                                *ngIf="attIsValid('dniRuc')"
                            >
                                *Campo obligatorio
                            </span>
                        </div>
                    </div>


                    <!-- Campo de Monto -->
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Contraseña</label>
                        <div class="col-sm-9">
                            <input 
                                type="password" 
                                class="form-control" 
                                formControlName="password"
                                placeholder="contraseña"
                            >
                            <span class="form-text text-danger"
                            *ngIf="attIsValid('password')"
                            >
                                *Campo obligatorio
                            </span>
                        </div>

                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">

                            <button
                                type="submit"
                                class="btn btn-primary float-end"
                                [disabled]="loginForm.invalid"
                                >
                                Ingresar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
