<br />
<section>
  <main class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <h4>Seleccione Cliente</h4>
            <hr />
            <ul class="menu-group-customer">
              <li
                [class.active1]="type===1"
                (click)="listCustomer(1)"
                class="list-group-item"
              >
                Personas
              </li>
              <li
                [class.active1]="type===2"
                (click)="listCustomer(2)"
                class="list-group-item"
              >
                Empresas
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-8">
            <h4 class="text-center">Lista de {{ (type ===1 ) ? 'Personas' : 'Empresas' }} </h4>
            <app-table-customer [isPerson]="type" [customers]="clientCustomer"></app-table-customer>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
