li:hover {
  cursor: pointer;
}
.active1 {
  background-color: #0d6efd;
  color: white;
}
.card {
  border-color: #002a8d;
  border-width: 5px;
}
.list-group-item {
  border-color: #002a8d;
}
hr {
  height: 5px;
}
