

<div class="container mt-4 box-shadows p-5">

    <h1 class="text-center">Pago / Retiro de Crédito</h1>

    <div class="d-flex justify-content-center ">
        
        <div class="row w-50 ">
        <hr class="my-4">
        <div class="col">
            <form   autocomplete="off" [formGroup]="creditForm" (ngSubmit)="save()" >
                <!-- Campo de Numero de documento -->
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Número de documento</label>
                    <div class="col-sm-9">
                        <input 
                            type="number" 
                            class="form-control" 
                            formControlName="dniRuc"
                            placeholder="DNI o RUC"
                        >
                        <span class="form-text text-danger"
                            *ngIf="attIsValid('dniRuc')"
                        >
                            *Campo requerido
                        </span>
                    </div>
                </div>
               

                <!-- Seleccion del tipo de operación -->
                <div class="row mb-3" >
                        <label class="col-sm-3 form-label">Deudas:</label>
                        <div class="col-sm-9">
                            <select 
                                class="form-select"
                                formControlName="creditNumber"
                            >
                                <!-- el pipe lowercase esta modificando el valor debido a los corchetes -->
                                <!-- en este caso si modifica el valor  -->
                                <!-- <option
                                    *ngFor="let region of regiones"  
                                    [value]="region | lowercase"
                                >  -->
                                <option selected
                                value="payment"
                                >  
                                    Pago    
                                </option>
                                <option
                                    value="Withdrawal"
                                > 
                                    Retiro  
                                </option>
                            </select>
                        </div>
                    </div>
                <!-- Seleccion del tipo de operación -->
                <div class="row mb-3" >
                        <label class="col-sm-3 form-label">Tipo de Operación:</label>
                        <div class="col-sm-9">
                            <select 
                                class="form-select"
                                formControlName="operationType"
                            >
                                <!-- el pipe lowercase esta modificando el valor debido a los corchetes -->
                                <!-- en este caso si modifica el valor  -->
                                <!-- <option
                                    *ngFor="let region of regiones"  
                                    [value]="region | lowercase"
                                >  -->
                                <option selected
                                value="payment"
                                >  
                                    Pago de cuota
                                </option>
                                <option
                                    value="Withdrawal"
                                > 
                                    Retiro de capital
                                </option>
                            </select>
                        </div>
                    </div>

                <!-- Campo de Monto -->
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Monto</label>
                    <div class="col-sm-9">
                        <input 
                            type="number" 
                            class="form-control" 
                            formControlName="amount"
                            placeholder="Monto"
                        >
                        <span class="form-text text-danger"
                        *ngIf="attIsValid('amount')"
                        >
                            El precio debe ser 0 o mayor
                        </span>
                    </div>

                </div>



                <div class="row">
                    <div class="col">
                        <button
                            type="submit"
                            class="btn btn-primary float-end"
                            [disabled]="creditForm.invalid"
                            >
                            Guardar
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>


</div>