

<div class="container mt-4 ">

    <h1 class="text-center">Creación de Nueva Cuenta</h1>

    <div class="d-flex justify-content-center ">
        
        <div class="row w-50 ">
        <hr class="my-4">
        <div class="col">
            <form   autocomplete="off" [formGroup]="productForm" (ngSubmit)="save()" >
                <!-- Campo de Documento -->
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label"> Número de documento</label>
                    <div class="col-sm-9">
                        <input 
                            type="text" 
                            class="form-control" 
                            formControlName="dniRuc"
                            placeholder="RUC o DNI"
                        >
                        <!-- <span class="form-text text-danger"
                            *ngIf="campoEsValido('nombre')"
                        >
                            Debe de ser de 3 letras
                        </span> -->
                    </div>
                </div>
                <!-- Campo de producto -->
                <!-- Seleccion del tipo de cuenta -->
                <div class="row mb-3" >
                    <label class="col-sm-3 form-label">Tipo de Cuenta:</label>
                    <div class="col-sm-9">
                        <select 
                            class="form-select"
                            formControlName="product"
                        >
                            <!-- el pipe lowercase esta modificando el valor debido a los corchetes -->
                            <!-- en este caso si modifica el valor  -->
                            <!-- <option
                                *ngFor="let region of regiones"  
                                [value]="region | lowercase"
                            >  -->
                            <option selected
                            value="account"
                            >  
                                Aperturar una Cuenta
                            </option>
                            <option
                                value="loan"
                            > 
                                Préstamo Bancario  
                            </option>
                            <option
                                value="credtiCard"
                            > 
                                Nueva Tarjeta de crédito  
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Campo de moneda -->
                <div class="row mb-3" >
                    <label class="col-sm-3 form-label">Escoja  la moneda:</label>
                    <div class="col-sm-9">
                        <select 
                            class="form-select"
                            formControlName="currency"
                        >
                            <!-- el pipe lowercase esta modificando el valor debido a los corchetes -->
                            <!-- en este caso si modifica el valor  -->
                            <!-- <option
                                *ngFor="let region of regiones"  
                                [value]="region | lowercase"
                            >  -->
                            <option selected
                            value="PEN"
                            >  
                                Soles
                            </option>
                            <option
                                value="USD"
                            > 
                                Dolares
                            </option>
                           
                        </select>
                    </div>
                </div>

                <!-- SOLO SI EL PRODUCTO ES CUENTA -->
                <h2>Esto solo aparecera si el producto es abrir una cuenta</h2>
                <!-- Seleccion del tipo de cuenta -->
                <div class="row mb-3" >
                        <label class="col-sm-3 form-label">Tipo de Cuenta:</label>
                        <div class="col-sm-9">
                            <select 
                                class="form-select"
                                formControlName="accountType"
                            >
                                <!-- el pipe lowercase esta modificando el valor debido a los corchetes -->
                                <!-- en este caso si modifica el valor  -->
                                <!-- <option
                                    *ngFor="let region of regiones"  
                                    [value]="region | lowercase"
                                >  -->
                                <option selected
                                value="savings"
                                >  
                                    Cuenta de Ahorros
                                </option>
                                <option
                                    value="current"
                                > 
                                    Cuenta corriente  
                                </option>
                                <option
                                    value="fixed"
                                > 
                                    Cuenta a plazo fijo  
                                </option>
                            </select>
                        </div>
                </div>
                 <!-- titulares -->
                 <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label"> Titular </label>
                    <div class="col-sm-5">
                        <input 
                            type="number" 
                            class="form-control" 
                            formControlName="dniRucOwner"
                            placeholder="dni o ruc del titular"
                        >
                        <!-- <span class="form-text text-danger"
                            *ngIf="campoEsValido('nombre')"
                        >
                            Debe de ser de 3 letras
                        </span> -->
                    </div>
                    <div class="col-sm-4">
                        <select 
                                class="form-select"
                                formControlName="owner"
                            >
                    
                                <option selected
                                value="owner"
                                >  
                                    Titular
                                </option>
                                <option
                                    value="signatory"
                                > 
                                    Firmante  
                                </option>
                            </select>
                    </div>
                </div>

                 <!-- SOLO SI EL PRODUCTO ES un prestamo -->
                 <h2>Esto solo aparecera si el producto es pedir un préstamo</h2>
                
                 <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label"> Monto </label>
                    <div class="col-sm-9">
                        <input 
                            type="number" 
                            class="form-control" 
                            formControlName="CapitalAmount"
                            placeholder="Monto del prestamo"
                        >
                        <!-- <span class="form-text text-danger"
                            *ngIf="campoEsValido('nombre')"
                        >
                            Debe de ser de 3 letras
                        </span> -->
                    </div>
                    
                </div>
                
                 <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label"> Cuotas </label>
                    <div class="col-sm-9">
                        <input 
                            type="number" 
                            class="form-control" 
                            formControlName="dues"
                            placeholder="Cuotas"
                        >
                        <!-- <span class="form-text text-danger"
                            *ngIf="campoEsValido('nombre')"
                        >
                            Debe de ser de 3 letras
                        </span> -->
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col">
                        <button
                            type="submit"
                            class="btn btn-primary float-end"
                            >
                            <!-- [disabled]="miFormulario.invalid" -->
                            Guardar
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

    <div class="row">
        <div class="col">
            <span>valid</span>
            <pre>{{ productForm.valid }}</pre>

            <span>Pristine</span>
            <pre>{{ productForm.pristine | json }}</pre>
            
            <span>Touched</span>
            <pre>{{ productForm.touched | json }}</pre>

            <span>value</span>
            <pre>{{ productForm.value | json }}</pre>


        </div>
    </div>

</div>