

    <h1 class="text-center"> {{ this.productForm.controls['product'].value === 'account' ?  'Apertura de Nueva Cuenta' : 
                                this.productForm.controls['product'].value === 'loan' ? 'Nuevo Préstamo' : 'Nueva Tarjeta de Crédito'  }}</h1>

    <div class="d-flex justify-content-center ">
        
        <div class="row  ">
        <hr class="my-4">
        <div class="col">
            <form   autocomplete="off" [formGroup]="productForm" (ngSubmit)="save()" >
                <!-- Campo de producto -->
                <!-- Seleccion del tipo de cuenta -->
                <div class="row mb-3" >
                    <label class="col-sm-3 form-label">Tipo de Producto:</label>
                    <div class="col-sm-9">
                        <select 
                            class="form-select"
                            formControlName="product"
                        >
                            <!-- el pipe lowercase esta modificando el valor debido a los corchetes -->
                            <!-- en este caso si modifica el valor  -->
                            <!-- <option
                                *ngFor="let region of regiones"  
                                [value]="region | lowercase"
                            >  -->
                            <option selected
                            value="account"
                            >  
                                Aperturar una Cuenta
                            </option>
                            <option
                                value="loan"
                            > 
                                Préstamo Bancario  
                            </option>
                            <option
                                value="creditCard"
                            > 
                                Nueva Tarjeta de crédito  
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Campo de moneda -->
                <div class="row mb-3" >
                    <label class="col-sm-3 form-label">Escoja  la moneda:</label>
                    <div class="col-sm-9">
                        <select 
                            class="form-select"
                            formControlName="currency"
                        >
                            <!-- el pipe lowercase esta modificando el valor debido a los corchetes -->
                            <!-- en este caso si modifica el valor  -->
                            <!-- <option
                                *ngFor="let region of regiones"  
                                [value]="region | lowercase"
                            >  -->
                            <option selected
                            value="PEN"
                            >  
                                Soles
                            </option>
                            <option
                                value="USD"
                            > 
                                Dolares
                            </option>
                           
                        </select>
                    </div>
                </div>

                <!-- SOLO SI EL PRODUCTO ES CUENTA -->

                <div *ngIf="this.productForm.controls['product'].value === 'account'">
                    <!-- Seleccion del tipo de cuenta -->
                    <div class="row mb-3" >
                        <label class="col-sm-3 form-label">Tipo de Cuenta:</label>

                        <div *ngIf="doc.length === 11; else divContent" class="col-sm-9">
                            <label 
                            class="form-control"
                            [attr.disabled]="true"
                            >Cuenta Corriente

                            </label>
                        </div>  
                        <ng-template #divContent>
                            <div class="col-sm-9">
                                <select 
                                    class="form-select"
                                    formControlName="accountType"
                                >
                                    <!-- el pipe lowercase esta modificando el valor debido a los corchetes -->
                                    <!-- en este caso si modifica el valor  -->
                                    <!-- <option
                                        *ngFor="let region of regiones"  
                                        [value]="region | lowercase"
                                    >  -->
                                    <option selected
                                    value="savings"
                                    >  
                                        Cuenta de Ahorros
                                    </option>
                                    <option
                                        value="current"
                                    > 
                                        Cuenta corriente  
                                    </option>
                                    <option
                                        value="fixed"
                                    > 
                                        Cuenta a plazo fijo  
                                    </option>
                                </select>
                            </div>
                        </ng-template>
                    </div>
                    <!-- titulares -->
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label"> Titular </label>
                        <div class="col-sm-5">
                            <input 
                                type="number" 
                                class="form-control" 
                                formControlName="dniRucOwner"
                                placeholder="dni o ruc del titular"
                            >
                            <!-- <span class="form-text text-danger"
                                *ngIf="campoEsValido('nombre')"
                            >
                                Debe de ser de 3 letras
                            </span> -->
                        </div>
                        <div class="col-sm-4">
                            <select 
                                    class="form-select"
                                    formControlName="owner"
                                >
                        
                                    <option selected
                                    value="owner"
                                    >  
                                        Titular
                                    </option>
                                    <option
                                        value="signatory"
                                    > 
                                        Firmante  
                                    </option>
                                </select>
                        </div>
                    </div>
                </div>

                 <!-- SOLO SI EL PRODUCTO ES un prestamo -->
                <div *ngIf="this.productForm.controls['product'].value === 'loan'">
                    <div class="mb-3 row">
                       <label class="col-sm-3 col-form-label"> Monto </label>
                       <div class="col-sm-9">       
                           <input 
                               type="number" 
                               class="form-control" 
                               formControlName="CapitalAmount"
                               placeholder="Monto del prestamo"
                           >
                           <!-- <span class="form-text text-danger"
                               *ngIf="attIsValid('capitalAmount')"
                           >
                               *monto debe ser mayor a 0
                           </span> -->
                       </div>
                       
                   </div>
                   
                    <div class="mb-3 row">
                       <label class="col-sm-3 col-form-label"> Cuotas </label>
                       <div class="col-sm-9">
                           <select 
                               class="form-select"
                               formControlName="dues"
                           >
                               <option selected
                               value="12"
                               >  
                                   12 Meses
                               </option>
                               <option
                                   value="24"
                               > 
                                   24 Meses 
                               </option>
                               <option
                                   value="36"
                               > 
                                   36 Meses
                               </option>
                               <option selected
                               value="48"
                               >  
                                   48 Meses
                               </option>
                               <option
                                   value="60"
                               > 
                                   60 Meses
                               </option>
                               
                           </select>
                       </div>
                       
                   </div>


                </div>

                <hr>
                <div class="row">
                    <div class="col">

                        <!-- Boton Para cerrar el modal -->
                        <button 
                            type="button" 
                            class="btn btn-secondary " 
                            data-bs-dismiss="modal"
                        >
                            Cerrar
                        </button>


                        <button
                            type="submit"
                            class="btn btn-primary float-end"
                            data-bs-dismiss="modal"
                            [disabled]="productForm.invalid"
                            >
                            Guardar
                        </button>
                    </div>
                </div> 

            </form>
        </div>
    </div>



    <!-- <div class="row">
        <div class="col">
            <span>valid</span>
            <pre>{{ productForm.valid }}</pre>

            <span>Pristine</span>
            <pre>{{ productForm.pristine | json }}</pre>
            
            <span>Touched</span>
            <pre>{{ productForm.touched | json }}</pre>

            <span>value</span>
            <pre>{{ productForm.value | json }}</pre>


        </div>
    </div>

</div> -->