

<!-- BANNER INICIAL -->
<div class="containesr">
    <div class="row banner_producto  d-flex align-items-center">
        <div class="col-6">
            <div class="text-banner">
                <h2>
                    ¡Abre tu cuenta y empieza a trabajar con nosotros!
                </h2>
                <p>
                    Premios en efectivo, sorteos, productos y mucho más.
                </p>
                <button class="btn btn-warning">Abre tu cuenta</button>
            </div>
        </div>
        <div class="col-6">
            <img src="../../../../assets/img/ahorros.jpg" alt="">
        </div>
    </div>

</div>


<!-- GRUPO DE TARJETAS -->
<div class="tarjetas-group ">

    <!-- TARJETAS SOBRE CUENTAS -->
    <div class="cards mt-5">
        <h1>Una cuenta que se ajusta a tus necesidades</h1>
        <div class="card">
            <i class="fa-solid fa-piggy-bank"></i>
            <h2 class="sub">Cuenta de Ahorros</h2>
            <p class="desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae ex quasi adipisci 
                harum voluptatum quidem dolor animi libero perspiciatis veritatis repellat enim.
            </p>
        </div>
        <div class="card">
            <i class="fa-solid fa-money-bill-transfer"></i>
            <h2 class="sub">Cuenta corriente</h2>
            <p class="desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae ex quasi adipisci 
                harum voluptatum quidem dolor animi libero perspiciatis veritatis repellat enim.            </p>
        </div>
        <div class="card">
            <i class="fa-solid fa-building-columns"></i>
            <h2 class="sub">Cuenta a plazo fijo</h2>
            <p class="desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae ex quasi adipisci 
                harum voluptatum quidem dolor animi libero perspiciatis veritatis repellat enim.            </p>
        </div>
  
    </div>

    <!-- TARJETAS SOBRE PRESTAMOS Y CREDITO -->
    <div class="cards my-5">
        <h1>Prestamos y tarjeta de crédito con las mejores tasas</h1>
        <div class="card">
            <i class="fa-solid fa-coins"></i>
            <h2 class="sub">Prestamo Personal</h2>
            <p class="desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae ex quasi adipisci 
                harum voluptatum quidem dolor animi libero perspiciatis veritatis repellat enim.
            </p>
        </div>
        <div class="card">
            <i class="fa-solid fa-money-bill"></i>
            <h2 class="sub">Prestamo Empresarial</h2>
            <p class="desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae ex quasi adipisci 
                harum voluptatum quidem dolor animi libero perspiciatis veritatis repellat enim.            </p>
        </div>
        <div class="card">
            <i class="fa-solid fa-credit-card"></i>
            <h2 class="sub">Tarjeta de Crédito</h2>
            <p class="desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae ex quasi adipisci 
                harum voluptatum quidem dolor animi libero perspiciatis veritatis repellat enim.            </p>
        </div>
  
    </div>
  
</div>


<!-- BANNER DE CIERRE -->
<div class="row banner_cierre">
    <div class="col-6 d-flex justify-content-center align-items-center ">
        <div class="div-box d-flex ">
            <h5 class="d-flex align-items-start">Conoce más acerca de nosotros</h5>
            <p class="d-flex align-items-end">Conoce más...</p>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center  ">
        <div class="div-box d-flex">
            <h4 class="d-flex align-items-start">Por donde empezar</h4>
            <p class="d-flex align-items-end">Conoce más...</p>
        </div>
    </div>

</div>




<router-outlet></router-outlet>