<br />
<div class="container-fluid">
  <h2 class="text-center">Detalle de Cliente</h2>
  <br />
  <!--  card personal -->
  <section>
    <div class="card">
      <div class="card-title fw-bolder">Datos Personales</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <label class="fw-bold" for="name">Nombre y Apellido:</label>
            <br />
            <label for="">Diego Andres Tuesta Perez</label>
          </div>
          <div class="col-sm-12 col-md-4">
            <label class="fw-bold" for="">Tipo de Documento:</label>
            <br />
            <label for="">DNI</label>
          </div>
          <div class="col-sm-12 col-md-4">
            <label class="fw-bold" for="">Nº de Doc:</label>
            <br />
            <label for="">87654321</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <label class="fw-bold" for="name">Dirección:</label>
            <br />
            <label for="">Av. Independencia 245</label>
          </div>
          <div class="col-sm-12 col-md-4">
            <label class="fw-bold" for="">Teléfono:</label>
            <br />
            <label for="">987654321</label>
          </div>
          <div class="col-sm-12 col-md-4">
            <label class="fw-bold" for="">Tipo de Cliente:</label>
            <br />
            <label for="">Persona</label>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fin card personal -->
  <br />
  <!-- card Cuentas -->
  <section>
    <div class="card">
      <div class="card-title fw-bolder">
        <div class="row">
          <div class="col">Cuentas</div>
          <div class="col monto">S/ 150.00</div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-cuentas">
            <thead>
              <tr class="color-cabecera">
                <th>NÚMERO DE CUENTA Y TIPO</th>
                <th class="monto">SALDO CONTABLE</th>
                <th class="monto">SALDO DISPONIBLE</th>
              </tr>
            </thead>
            <tbody>
              <tr [routerLink]="['../../customerproducts/', 4]">
                <td>
                  <div style="width: 100%">
                    <span class="link"> 0011-0050-0200124963 </span><br />
                    <small>Cuenta Independencia</small>
                  </div>
                </td>
                <td class="td">S/ 100.00</td>
                <td class="td">S/ 100.00</td>
              </tr>
              <tr [routerLink]="['../../customerproducts/', 4]">
                <td>
                  <div style="width: 100%">
                    <span class="link"> 0011-0050-0200124963 </span><br />
                    <small>Cuenta Independencia</small>
                  </div>
                </td>
                <td class="td">S/ 50.00</td>
                <td class="td">S/ 50.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- fin card cuentas -->
  <br />
  <!-- card Tarjetas -->
  <section>
    <div class="card">
      <div class="card-title fw-bolder">Tarjetas</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr class="color-cabecera">
                <th>TIPO Y NÚMERO</th>
                <th class="monto">LINEA DE CRÉDITO</th>
                <th class="monto">LINEA DISPONIBLE</th>
              </tr>
            </thead>
            <tbody>
              <tr [routerLink]="['../../customerproducts/', 4]">
                <td>
                  <div style="width: 100%">
                    <small>Visa Cero </small><br />
                    <img
                      class="img-tarjeta-credito"
                      src="../../../../assets/img/tarjeta.jpg"
                      alt="tarjeta_credito_bbva"
                    /><br />
                    <span class="link"> *4963 </span>
                  </div>
                </td>
                <td class="td">
                  <br />
                  S/ 100.00
                </td>
                <td class="td">
                  <br />
                  S/ 100.00
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- end card Tarjetas  -->
</div>
