<section>
  <nav [class.show]="menu" class="navbar1">
    <div class="content">
      <div class="logo">
        <a href="#"> <img src="../../../assets/img/bcp_logo.jpg" alt="" /> </a>
      </div>
      <ul class="menu-list1">
        <div (click)="CancelBtn()" class="icon cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <!-- <li routerLink="">
          <a
            class="color-a"
            routerLinkActive="active1"
            [routerLinkActiveOptions]="{ exact: true }"
            >Inicio</a
          >
        </li> -->
        <li *ngIf="isLogin()" routerLink="customer">
          <a class="color-a" routerLinkActive="active1">Clientes</a>
        </li>
        <li *ngIf="!isLogin()" routerLink="login">
          <a class="color-a" routerLinkActive="active1">Login</a>
        </li>
        <li routerLink="products">
          <a class="color-a" routerLinkActive="active1">Productos</a>
        </li>
        <li *ngIf="isLogin()" routerLink="login" (click)="logout()">
          <a class="color-a" routerLinkActive="active1">Logout</a>
        </li>

      </ul>
      <div [class.hide]="menu" (click)="MenuBtn()" class="icon menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </nav>
</section>
<br />
<br />
<br />
<br />
