<div class="row">
  <div class="col-sm-12 col-md-4 text-center card card-body">
    <h5 class="">Cuenta *1234</h5>
    <hr />
    <div class="row">
      <h4>Cuenta Corriente</h4>
      <label>S/. 10000</label>
      <span>Saldo Disponible</span>
    </div>
    <br />
    <div class="row">
      <p>
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Ver más
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <div>
            <h5>General</h5>
            <hr />
            <div class="row">
              <span>Tipo de Cuenta</span>
              <h6 class="fw-bold">Cuenta de Ahorro</h6>
            </div>
            <div class="row">
              <span> Número de Cuenta </span>
              <h6 class="fw-bold">1223-1223-11111111</h6>
            </div>
            <div class="row">
              <span>CCI</span>
              <h6 class="fw-bold">123-123-123123123</h6>
            </div>
            <div class="row">
              <span>Fecha de Apertura</span>
              <h6 class="fw-bold">12 abril 2015</h6>
            </div>
            <div class="row">
              <span>Titulares</span>
              <ul>
                <li class="fw-bold">Diego Andres Tuesta Perez</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8 card card-body">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary btn-sm">Depósito</button>
      <button type="button" class="btn btn-primary btn-sm">Retiro</button>
    </div>
    <hr />
    <h4>ÚLTIMOS MOVIMIENTOS</h4>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="30%">Fecha</th>
            <th width="40%">Movimiento</th>
            <th width="30%">Monto</th>
          </tr>
        </thead>
        <tbody>
          <!--  <div *ngIf="detailTransaction.length===0" class="text-center" >
            <img class="img-loading" src="../../../../assets/img/loading-gif.gif" alt="loading-gif">
          </div> -->
          <tr>
            <td></td>
            <td></td>
            <td>
              <div class="row">
                <div class="col"></div>
                <div class="col td"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
