<br>
<h1>{{operationType}}</h1>



<button 
  type="button" 
  class="btn btn-primary" 
  data-bs-toggle="modal" 
  data-bs-target="#exampleModal"
  (click) = "setValue('accountForm', 'deposit')"
  >
    depositar dinero cuenta
  </button>

<button 
  type="button" 
  class="btn btn-primary" 
  data-bs-toggle="modal" 
  data-bs-target="#exampleModal"
  (click) = "setValue('accountForm', 'withdrawal')"
  >
    retirar dinero cuenta
  </button>

<hr>


<button 
  type="button" 
  class="btn btn-primary" 
  data-bs-toggle="modal" 
  data-bs-target="#exampleModal"
  (click) = "setValue('createProductForm', 'deposit')"
  >
    Abrir modal create Product
  </button>


<hr>

<button 
  type="button" 
  class="btn btn-primary" 
  data-bs-toggle="modal" 
  data-bs-target="#exampleModal"
  (click) = "setValue('creditCardForm','deposit')"

  >
  credit card con pago
</button>
<button 
  type="button" 
  class="btn btn-primary" 
  data-bs-toggle="modal" 
  data-bs-target="#exampleModal"
  (click) = "setValue('creditCardForm','withdrawal')"

  >
  Credit card con consumo
</button>

<hr>

<button 
  type="button" 
  class="btn btn-primary" 
  data-bs-toggle="modal" 
  data-bs-target="#exampleModal"
  (click) = "setValue('creditPaymentForm', 'deposit')"

  >
  Pago de creditos
</button>
<button 
  type="button" 
  class="btn btn-primary" 
  data-bs-toggle="modal" 
  data-bs-target="#exampleModal"
  (click) = "setValue('creditPaymentForm', 'withdrawal')"

  >
  retiro de creditos
</button>


<app-modal  
  [formOpen] = "formSelected" 
  [numberAccount] = "numberAccount"
  [operationType]="operationType"
    
  [doc] = "dniRuc"
    
    
    [creditCardNumber] = "creditCardNumber"

></app-modal>


