<!-- Cuerpo -->
<br />
<section>
  <div class="container-fluid">
    <div class="card-title">
      <h2 class="text-center">Detalle de {{label }}</h2>
      <div class="card-body">

          
                <app-detail-accounts 
                *ngIf="accountApi"
                 [accountApi]="accountApi">
                </app-detail-accounts>

                <app-detail-credit
                *ngIf="creditApi"
                [creditApi]="creditApi"
                ></app-detail-credit>

                <app-detail-card-credit
                *ngIf="cardCreditApi"
                [cardCreditApi]="cardCreditApi"
                ></app-detail-card-credit>
                
      </div>
    </div>
  </div>
</section>
