<!-- Cuerpo -->
<br />
<section>
  <div class="container-fluid">
    <div class="card-title">
      <h2 class="text-center">Detalle de {{label }}</h2>
      <div class="card-body">
        
                <app-detail-accounts 
                *ngIf="isAccount"
                 [detailaccountcredit]="detailaccountcredit"  >
                </app-detail-accounts>
                <app-detail-credit
                *ngIf="isCredit"
                [detailaccountcredit]="detailaccountcredit"
                ></app-detail-credit>
                <app-detail-card-credit
                *ngIf="isCardCredit"
                [detailaccountcredit]="detailaccountcredit"
                ></app-detail-card-credit>
                
      </div>
    </div>
  </div>
</section>
