
<div class="container">
    <div class='row mt-5 box'>
        <div class="col-4">
          <img src="https://www.tasatop.com/static/resources/images/educacion-financiera/diferencias-entre-cuenta-ahorro-y-plazo-fijo.jpg" alt=superhero class="img-thumbnail" />
        </div>
    
        <div class="col-8">
          <h3>Cuenta de Ahorros</h3>
          <ul class='list-group list-group-flush'>
            <li class='list-group-item list-group-item-action list-group-item-dark '>Cuenta libre de mantenimiento</li>
            <li class='list-group-item list-group-item-action list-group-item-dark'>Te permitimos hasta 5 operaciones mensuales en ventanilla</li>
            <li class='list-group-item list-group-item-action list-group-item-dark'>Ahorra tiempo realizando tus operaciones mediante el sistema Web  </li>
          </ul>
         <div class="d-flex  justify-content-between">

             <button class='btn btn-success mt-3'>
             Iniciar con el Producto
             <!-- onClick={handleReturn}> -->
             </button>
             <button class='btn btn-primary mt-3' (click)="regresar()">
             Regresar

             </button>
         </div>
        </div>


    </div>

</div>
