

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="color-cabecera">
        <th>{{ (isPerson==='personal') ? 'NOMBRE COMPLETO' : 'RAZÓN SOCIAL' }} </th>
        <th>{{ (isPerson==='personal') ? 'DNI:' : 'RUC:' }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
 
      <tr *ngFor="let customer of customers " >
        
        <!-- <ng-container *ngIf="isPerson; else empresa"> 

        <td >{{customer.firstName + ' ' + customer.lastName}}</td>
        <td>{{customer.dni}}</td>
        <td>
          <a [routerLink]="['detailcustomer/', customer.id]" class="enlace"
            >ver detalle</a
          >
        </td>

      </ng-container> 

      <ng-template #empresa>
        <td >{{customer.businessName}}</td>
        <td>{{customer.ruc}}</td>
        <td>
          <a [routerLink]="['detailcustomer/', customer.id]" class="enlace"
            >ver detalle</a
          >
        </td>
      </ng-template> -->
        

      <td >  {{ (isPerson==='personal') ? customer.first_name + ' ' + customer.last_name : customer.first_name}}</td>
      <td> {{ customer.doc }}</td>
      <td>
        <a [routerLink]="[customer.id]" class="enlace"
          >ver detalle</a
        >
      </td>
      </tr>
    </tbody>
  </table>
</div>
