<h4 class="text-center">{{ label }}</h4>
<hr />
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="color-cabecera">
        <th>NOMBRE COMPLETO</th>
        <th>Nº DOC</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Diego Andres Tuesta Perez</td>
        <td>87654321</td>
        <td>
          <a [routerLink]="['detailcustomer/', 2]" class="enlace"
            >ver detalle</a
          >
        </td>
      </tr>
      <tr>
        <td>Diego Andres Tuesta Perez</td>
        <td>87654321</td>
        <td>
          <a [routerLink]="['detailcustomer/', 2]" class="enlace"
            >ver detalle</a
          >
        </td>
      </tr>
      <tr>
        <td>Diego Andres Tuesta Perez</td>
        <td>87654321</td>
        <td>
          <a [routerLink]="['detailcustomer/', 2]" class="enlace"
            >ver detalle</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
